/**
 * Base
 */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
$default-font-family: "Indie Flower", "cursive", Helvetica, Arial, sans-serif;
$default-font-size: 14px;
$default-line-height: 16px;

/**
 * Base Colors
 */
$color-primary: rgb(205, 0, 67);
$color-secondary: rgb(0, 70, 99);
$color-terciary: rgb(135, 135, 135);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-light-grey: rgb(228, 230, 231);
$color-grey: rgb(86, 86, 86);
$color-dark-grey: rgb(43, 43, 43);

$color-table-odd: rgb(255, 255, 255);
$color-table-even: rgb(234, 234, 234);

$color-success: rgb(122, 190, 47);
$color-warning: rgb(255, 153, 0);
$color-error: rgb(204, 0, 51);

/**
 *
 */
$body-background-color: #EEDAF1;

$body-general-color: #BA68C8;
$body-general-line-color: #6A1B9A;
