@import "normalize/import-now";

/*
 * System variables
 */

@import "variables";
@import "media-queries";

/*
 * Mixins
 */

@import "mixins/border-radius";
@import "mixins/font-face";
@import "mixins/font-size";
@import "mixins/proportional-width";
@import "mixins/shadow";
@import "mixins/wood-background";

/*
 * Vendors
 */

@import "bootstrap/scss/bootstrap";
@import "font-awesome/scss/font-awesome";
@import "vendor/select2";
@import "select2/src/scss/core";
// @import "bootstrap-daterangepicker/daterangepicker.scss";
// @import "vendor/datatables";
// @import "vendor/highlight-monokai";
// @import "vendor/_checkbox-slider";
// @import "vendor/_icon-picker";

/*
 * Partials
 */

@import "partials/body";
@import "partials/buttons";
@import "partials/fonts";
@import "partials/icomoon";
@import "partials/spinner";


/*
 * Blocks
 */

@import "blocks/app";
@import "blocks/empty-view";
@import "blocks/footer";
@import "blocks/header";
@import "blocks/landing";
// @import "blocks/sidebar";
