<nav class="navbar navbar-full navbar-light navbar-fixed-top bg-faded header__nav">
  <ul class="nav navbar-nav header__title">
    <li class="nav-item header__header-title">
    <img class="nav-image header-title__image" src="/img/logo-header.png">
      <span class="nav-link header-title__title" href="#">Love Board Calendar</span>
    </li>
  </ul>
</nav>
