.header__nav {
  border-bottom: 1px solid $color-light-grey;
  padding: 0;
  background: rgb(214,195,143);

  background: -moz-linear-gradient(top, rgba(214,195,143,1) 0%, rgba(214,195,143,1) 1%, rgba(237,227,200,1) 2%, rgba(237,227,200,1) 24%, rgba(235,221,195,1) 25%, rgba(214,195,143,1) 48%, rgba(235,221,195,1) 49%, rgba(230,216,189,1) 52%, rgba(230,216,189,1) 53%, rgba(233,219,192,1) 54%, rgba(230,216,189,1) 55%, rgba(230,216,189,1) 56%, rgba(233,219,192,1) 57%, rgba(230,216,189,1) 58%, rgba(230,216,189,1) 73%, rgba(233,219,192,1) 74%, rgba(233,219,192,1) 98%, rgba(235,221,195,1) 100%);

  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(214,195,143,1)), color-stop(1%,rgba(214,195,143,1)), color-stop(2%,rgba(237,227,200,1)), color-stop(24%,rgba(237,227,200,1)), color-stop(25%,rgba(235,221,195,1)), color-stop(48%,rgba(214,195,143,1)), color-stop(49%,rgba(235,221,195,1)), color-stop(52%,rgba(230,216,189,1)), color-stop(53%,rgba(230,216,189,1)), color-stop(54%,rgba(233,219,192,1)), color-stop(55%,rgba(230,216,189,1)), color-stop(56%,rgba(230,216,189,1)), color-stop(57%,rgba(233,219,192,1)), color-stop(58%,rgba(230,216,189,1)), color-stop(73%,rgba(230,216,189,1)), color-stop(74%,rgba(233,219,192,1)), color-stop(98%,rgba(233,219,192,1)), color-stop(100%,rgba(235,221,195,1)));

  background: -webkit-linear-gradient(top, rgba(214,195,143,1) 0%,rgba(214,195,143,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(214,195,143,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);

  background: -o-linear-gradient(top, rgba(214,195,143,1) 0%,rgba(214,195,143,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(214,195,143,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);

  background: -ms-linear-gradient(top, rgba(214,195,143,1) 0%,rgba(214,195,143,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(214,195,143,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);

  background: linear-gradient(top, rgba(214,195,143,1) 0%,rgba(214,195,143,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(214,195,143,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);

  .header__title {
    float: left;
    margin-left: 2rem;

    .header__header-title {
      position: relative;
      width: 200px;
    }

    .header-title__image {
      float: left;
      height: 1.3rem;
      width: 1.3rem;
      margin: .35rem .5rem;
    }

    .header-title__title {
      float: left;
      cursor: pointer;
      width: calc(200px - 2.3rem);
      @include font-size(14px);
      color: $color-black;
      padding: .5rem 1rem .5rem .5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;

      &:hover {
        color: $color-dark-grey;
      }
    }

    .header-title__toolbar {
      position: absolute;
      right: 1rem;

      .nav-item {
        height: 2rem;

        .nav-link {
          height: 2rem;
          padding: 0;

          i {
            line-height: 2rem;
          }
        }
      }
    }
  }

  .header__dashboards {
    @include font-size(14px);
    float: left;
    height: 2rem;

    .header-dashboards__select {
      border: 0;
      height: 2rem;
      margin-right: .25rem;
      width: 200px;
    }

    .select2 {
      border-right: 1px solid #373a3c;

      .select2-selection {
        background-color: #f7f7f9;
        border: 0;
        height: 2rem;
        outline: none;

        .select2-selection__rendered {
          line-height: 2rem;
        }
      }
    }
  }

  .header__toolbar,
  .header__user {
    float: left;

    .nav-item {
      height: 2rem;

      .nav-link {
        height: 2rem;
        padding: 0;

        p {
          float: left;
          height: 2rem;
          line-height: 2rem;
          margin-bottom: 0;
          margin-right: .5rem;
        }

        i {
          line-height: 2rem;
        }
      }
    }
  }

  .header__user {
    float: right;
    margin-right: 1rem;

    .toolbar__separator {
      height: 2rem;
      width: 1px;
      margin-left: 1rem;
      margin-right: 1rem;
      border-right: 1px solid #000;

      & + .nav-item {
        margin-left: 0;
      }
    }
  }
}

.header__button--hidden-edit {
  display: block;
  margin-left: 1rem;
}

.header__button--visible-edit {
  display: none;
}

#app.editMode {
  .header__button--hidden-edit {
    display: none;
    margin-left: -1rem;
  }

  .header__button--visible-edit {
    display: block;
  }
}

.select2-container {
  .select2-search--dropdown {
    background-color: #f7f7f9;
    .select2-search__field {
      outline: none;
    }
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: #e6026f;
  }
}
