.resume-container {
  height: 5.125rem;
  @include shadow();
  border: 4px solid white;
  border-radius: 1rem;
  background-color: transparent;
  padding: 1rem;
  width: 100%;

  .hearts-container {
    float: left;
    max-width: calc(100% - 4.5rem);

    i {
      padding-top: .2rem;
    }
  }

  .add-heart__button {
    @include shadow();
    @include dark-wood-background;
    border: none;
    height: 2.4em;
    margin-right: 1rem;

    i {
      top: -0.3rem;
      position: relative;
    }
  }

  i {
    vertical-align: middle;
    padding-left: .5rem;
    padding-right: .5rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
